/* START Styles to clear the 3 column look */
#mainContent_ThirdCol_ctr, #mainContent_area, #navColumn_area, #thirdCol_area, #mainBottom_fmt { display:none; }
.moduleSpacer_rdr {
	height: 4px;
	font-size: 1%;
	clear: both;
}
/* END Styles to clear the 3 column look */

/* START Slideshow Header Styles */
.slTitleBar_rdr {
	background-color:#FFFFFF;
	display:inline;
	float:none;
	left:0;
	margin-top: 4px;
	position:relative;
	top:0;
	width:700px;
}
.slTitleBar_rdr .titleBarMiddle_fmt {
	background:none repeat scroll 0 0 transparent;
	color:#FFFFFF;
	left:0;
	margin:0;
	min-height:36px;
	padding:0;
	position:relative;
	text-align:left;
	top:0;
	width:700px;
}
* html .slTitleBar_rdr .titleBarMiddle_fmt { height:36px; }
.slTitleBar_rdr .titleBarBottom_fmt {
	background: none;
	clear:both;
	font-size:1%;
	height:3px;
	width:968px;
}
.slTitleBar_rdr .titleBarMiddle_fmt h1 {
	color: #88A906;
	float: left;
	font-size: 150%;
	font-weight:normal;
	font-style:normal;
	margin: 0;
	padding: 8px 0 0 5px;
}
.slTitleBar_rdr .titleBarMiddle_fmt .attribution_fmt {
	color:#FFFFFF;
	float:right;
	font-size:80%;
	font-weight:normal;
	margin:0px;
	padding:0px 0px 0px 11px;
	vertical-align:3px;
	white-space:nowrap;
}
* html .slTitleBar_rdr .titleBarMiddle_fmt .attribution_fmt {
	margin:0px;
	padding:0px 0px 0px 11px;
	vertical-align:4px;
}
.slTitleBar_rdr .titleBarMiddle_fmt .attribution_fmt a { color:#FFFFFF; }
.slTitleBar_rdr .titleBarMiddle_fmt .attribution_fmt img {
	margin:2px 3px;
	vertical-align:middle;
}
/* END Slideshow Header Styles */

/* START formatting for the editorial disclaimer */
.editorialMsg_fmt {
	margin-left: 16px;
	padding: 0px;
	font-size: 80%;
}
.edtrDisclaimer_fmt {
	left: 8px;
	position: absolute;
	top: 49px;
}
/* END formatting for the editorial disclaimer */

/* START Slideshow Backgrounds */
#slideshow {
	background: url("../../../consumer_assets/site_images/modules/slideshow/healthy_beauty/healthy_beauty_slideshow_bottom.jpg") 0 bottom no-repeat;
	padding-bottom:10px;
	position: relative;
}
.slides { padding-left: 8px; }
#slideshow_container {
	background:url("../../../consumer_assets/site_images/modules/slideshow/healthy_beauty/healthy_beauty_slideshow_bg.jpg") 0 0 no-repeat #caebed;
	width: 956px;
	margin:auto;
}
#slideshow_top {
	background: url("../../../consumer_assets/site_images/modules/slideshow/healthy_beauty/healthy_beauty_slideshow_top.gif") 0 0 no-repeat;
	height: 9px;
	font-size:1%;
	margin: 2px 0 0 0;
	padding: 0px;
}
#slideshow_bottom {
	background:none;
	border-left: #aeacac 1px solid;
	border-right: #aeacac 1px solid;
	height:480px;
}
/* END Slideshow Backgrounds */

/* START Slideshow Sources area */
#slideshow_resources {
	background: url("../../../consumer_assets/site_images/modules/slideshow/healthy_beauty/healthy_beauty_slideshow_resources.jpg") 0 bottom no-repeat;
	clear:both;
	min-height: 27px;
	padding:0px 0px 10px 10px;
	width:958px;
}
* html #slideshow_resources { height: 27px; }
#slideshow_resources p {
	font-size:80%;
	margin:0px;
	padding:3px 0px;
	color:#575757;
}
#slideshow_resources p a { color:#3789B9; }
/* START Slideshow Sources area */


/* START Styles for a normal slide */
#slideshow .slide {
	position:absolute; 
	width:645px; 
	height:410px; 
	text-align:center;
	opacity:0.99; /* Fix Firefox opacity flicker problem */
	visibility:hidden;
}
#slideshow .slide h3 {
	color:#fff;
	font-size:120%;
	margin:0px;
	padding:0px;
	position:absolute; 
	top:14px;
	left:0px;
	text-align:center;
	width:645px; 
}
#slideshow .slide .slide_image { margin-top:47px; }
/* END Styles for a normal slide */
/* START Seamless Transition between slideshows */
.seamless_inter_fmt {
	width:494px;
	height:338px;
	background:#8bacc3 url("../../../consumer_assets/site_images/modules/slideshow/seamless_ss_inter.gif");
	text-align:center;
}
.seamless_inter_fmt h1 {
	color:#FFFFFF; 
	font-family:Arial, Helvetica, sans-serif;
	font-size:140%; 
	margin-bottom: 0px;
	padding-top:90px; 
}
.seamless_inter_fmt h2 {
	color:#203f65; 
	font-family:Arial, Helvetica, sans-serif;
	font-size:140%;
	margin-top: 0px;
	padding-top:5px; 
}
.invisible { display:none; }

/* START Styles for a text slide this class is added to a regular slide to convert */
#slideshow .text_slide {
	text-align:left;
	color:#fff;
	width:570px; 
	height:410px; 
	padding:5px 0px 0px 75px;
}
.browserIE_7 #slideshow .text_slide {
	background: transparent url("../../../consumer_assets/site_images/modules/transparent.gif") repeat;
	filter:alpha(opacity=100);
}
.browserIE_7 #slideshow .text_slide #ss-ls-tiles.lastslide-tiles { height:390px; }

#slideshow .text_slide h3 {
	margin:0px;
	padding:0px;
	font-size:150%;
	font-weight:normal;
	position:relative;
	text-align:left;
	top:0px;
	width:578px;
}
#slideshow .text_slide p {
	margin:0px;
	padding:0px;
}
#slideshow .text_slide .boxContainer { margin-top:5px; }
#slideshow .text_slide .boxContent { height:390px; }
#slideshow .text_slide .box {
	background:url("../../../consumer_assets/site_images/modules/slideshow2_text_slide_bg.jpg") no-repeat;
	float:left;
	height:101px;
	margin:8px 12px 5px 0px;
	width:241px;
	display:inline;
}
#slideshow .text_slide .box .image {
	float:left;
	padding:10px;
	display:inline;
	width:79px;
}
#slideshow .text_slide .box .image img { border:1px solid #363636; }
#slideshow .text_slide .box .image img.active { border:1px solid #ffc652; }
#slideshow .text_slide .box .text {
	float:left;
	width:125px;
}
#slideshow .text_slide .box p {
	font-weight:bold;
	font-size:90%;
	padding-top:20px;
}
#slideshow .text_slide .box ul {
	margin:0px;
	padding:0px;
	list-style:none;
}
#slideshow .text_slide .box li {
	background:url("../../../consumer_assets/site_images/modules/flourish_trim_clr.gif") 0px 5px no-repeat;
	font-size:90%;
	line-height:15px;
	padding:2px 0px 0px 12px;
}
#slideshow .text_slide .box li a { color:#6eccfc; }
/* hide the module spacer in boxContent */
#slideshow .boxContent .moduleSpacer_rdr { display: none; }
/* Citation Styles */
.clearingDiv { clear:both; }
/* END Styles for a text slide this class is added to a regular slide to convert */

.disabled#playControlLast, .disabled#playControlLastRight {
	display: none !important;
}

/* START Styles for right side link and text container */
#slideshow .slidelinks_container {
    background-color: transparent;
    background-image: none;
    color: #575757;
    height: 185px;
    left: 650px;
    opacity: 0.99; /* Fix Firefox opacity flicker problem */
    position: absolute;
    top: 0;
    visibility: hidden;
    width: 300px;
    z-index: 2;
}
* html #slideshow .slidelinks_container,
* html #slideshow_ad_300x250 {
	left: 652px;
}
.slidelinks_content {
	padding: 10px 10px 0 10px;
	height:173px;
	overflow:auto;
	width: 277px;
}
.slidelinks_content h3 {
	font-size: 110%;
	margin: 0 0 5px 0;
}
.slidelinks_content p {
	font-size: 90%;
	margin: 0 0 5px 0;
}
.slidelinks_content .imageLink { display:none; }
.slidelinks_content a:link, .slidelinks_content a:hover { color:#0b679a; }
.slidelinks_content a:visited { color:#0b679a !important; }
.slidelinks_content ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
}
.slidelinks_content ul li {
    background: url("../../../consumer_assets/site_images/modules/flourish_trim_clr.gif") no-repeat scroll 0 4px transparent;
    line-height: 17px;
    padding: 0 0 2px 14px;
}
/* END Styles for right side link and text container */


/* START Styles for ad */
#slideshow_ad_300x250 {
	background: url("../../../consumer_assets/site_images/modules/ad_lbl_trans.gif") center 0 no-repeat;
	left:650px;
	padding-top: 8px;
	position: absolute;
	top:223px;
	width:300px;
}
#slideshow_ad_300x250 h3 { display: none; }
#slideshow_ad_300x250 img { border: 0px; }

/* END Styles for ad */


/* START slideshow previous and next controls */
#slideshow .slideshowControls {
	background: url("../../../consumer_assets/site_images/modules/slideshow/healthy_beauty/healthy_beauty_slideshow2_nav_bg.png") 0 0 no-repeat;
	height: 50px;
	position:absolute;
	top:404px;
	left:84px;
	width: 494px;
}
* html #slideshow .slideshowControls { 
	left:75px;
}
#slideshow .rightControls {
	background:none repeat scroll 0 0 transparent;
	height: 33px;
	top:185px;
	left:650px;
	width: 300px;
}
* html #slideshow .rightControls { 
	left:652px;
}
#slideshow .slideshowControls ul { 
	margin:0px;
	padding:0px;
	list-style:none;
}
#slideshow .slideshowControls li a {
    color: #3789B9;
    display: block;
    font-size: 110%;
    font-weight: bold;
    position: absolute;
}
#slideshow .rightControls li a { 
	font-size:80%;
	font-weight: bold;
}
#slideshow .slideshowControls li a:hover {
	color: #3789B9;
	text-decoration: none;
}
#slideshow .slideshowControls .slideNumber {
	position:absolute;
	color:#575757;
	left:235px;
	top:13px;
	font-size:140%;
}
#slideshow .slideshowControls .slideNumber span {
	padding:0px 5px;
}
#slideshow .rightControls .slideNumber {
	font-size:110%;
	font-weight:bold;
	left:140px;
	top:9px;
}
#playControlLast {
	background: url("../../../consumer_assets/site_images/modules/slideshow/healthy_beauty/healthy_beauty_slideshow2_prev_next.png") -102px 0 no-repeat;
	height: 26px;
	cursor:pointer;
	left: 10px;
	top: 11px;
	padding:4px 0px 0px 30px;
	width: 72px;
}
#playControlLast:hover {
	background: url("../../../consumer_assets/site_images/modules/slideshow/healthy_beauty/healthy_beauty_slideshow2_prev_next.png") top left no-repeat;
}
#playControlNext {
	background: url("../../../consumer_assets/site_images/modules/slideshow/healthy_beauty/healthy_beauty_slideshow2_prev_next.png") -288px 0 no-repeat;
	height: 26px;
	left: 400px;
	top: 11px;
	padding:4px 0px 0px 14px;
	width: 70px;
	cursor:pointer;
}
#playControlNext:hover {
	background: url("../../../consumer_assets/site_images/modules/slideshow/healthy_beauty/healthy_beauty_slideshow2_prev_next.png") -204px 0 no-repeat;
}
#playControlLastRight {
	background: url("../../../consumer_assets/site_images/modules/slideshow/healthy_beauty/healthy_beauty_slideshow2_prev_next.png") -74px -35px no-repeat;
	height: 16px;
	left: 6px;
	padding: 2px 0 0 20px;
	top: 8px;
	width: 55px;
}
#playControlLastRight:hover {
	background: url("../../../consumer_assets/site_images/modules/slideshow/healthy_beauty/healthy_beauty_slideshow2_prev_next.png") 0px -35px no-repeat;
}
#playControlNextRight {
	background: url("../../../consumer_assets/site_images/modules/slideshow/healthy_beauty/healthy_beauty_slideshow2_prev_next.png") -202px -35px no-repeat;
	height: 16px;
	left: 243px;
	padding: 2px 0 0 4px;
	top: 8px;
	width: 50px;
	cursor:pointer;
}
#playControlNextRight:hover {
	background: url("../../../consumer_assets/site_images/modules/slideshow/healthy_beauty/healthy_beauty_slideshow2_prev_next.png") -148px -35px no-repeat;
}
/* END slideshow previous and next controls */



/*** BEGIN Slideshow Last slide tileset - dark ***/
#slideshow .text_slide #ss-ls-tiles.lastslide-tiles {
    font-family:Arial,Helvetica,sans-serif;
    font-size: 10px;
}
#slideshow .text_slide #ss-ls-tiles.lastslide-tiles a, #slideshow .text_slide #ss-ls-tiles.lastslide-tiles h3, #slideshow .text_slide #ss-ls-tiles.lastslide-tiles li, #slideshow .text_slide #ss-ls-tiles.lastslide-tiles p, #slideshow .text_slide #ss-ls-tiles.lastslide-tiles ul {
    font-size: inherit;
    font-size: 100%;
    line-height: inherit;
    line-height: 100%;
}
#slideshow .text_slide #ss-ls-tiles.lastslide-tiles {overflow: hidden; margin: 0; text-align: left; width: 500px;}
#slideshow .text_slide #ss-ls-tiles.lastslide-tiles h2 {padding-bottom: 0;}
#slideshow .text_slide #ss-ls-tiles.lastslide-tiles h3 {color: #fff; font-size: 2.1em; margin: 0; padding: 0;}
#slideshow .text_slide #ss-ls-tiles.lastslide-tiles p {font-size: 1.2em; padding: 3px 0 15px 0; text-align: left;}
#slideshow .text_slide #ss-ls-tiles.lastslide-tiles ul {margin: 0; overflow: hidden; list-style-type: none; padding: 0;}
#slideshow .text_slide #ss-ls-tiles.lastslide-tiles li {
    background: -moz-linear-gradient(top, #6b6969, #363636);
    background: -webkit-gradient(linear, left top, left bottom, from(#6b6969), to(#363636));
    filter: progid:DXImageTransform.Microsoft.Gradient(StartColorStr='#6b6969', EndColorStr='#363636', GradientType=0);
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    color: #fff;
    float: left;
    font-size: 1.2em;
    height: 84px;
    list-style-type: none;
    margin: 0 2% 10px 0;
    padding: 2%;
    width: 45%;
}

#slideshow .text_slide #ss-ls-tiles.lastslide-tiles li.last {margin-right: 0;}
#slideshow .text_slide #ss-ls-tiles.lastslide-tiles li img {border: 1px solid #363636; float: left; margin-right: 3%; width: 79px;}
#slideshow .text_slide #ss-ls-tiles.lastslide-tiles li .content {float: left; width: 136px;font-size: 97%; line-height: 110%;}
#slideshow .text_slide #ss-ls-tiles.lastslide-tiles li .content span {font-weight: bold; line-height: 1.25em; margin-bottom: 1px;}
#slideshow .text_slide #ss-ls-tiles.lastslide-tiles li .content a {
    background: transparent url('../../../consumer_assets/site_images/modules/slideshow_dynamic/ss-dark-bullets.gif') left 4px no-repeat;
    color: #6eccfc;
    display: block;
    line-height: 1.25em;
    padding-left: 10px;
    text-decoration: none;
}
#slideshow .text_slide #ss-ls-tiles.lastslide-tiles li:hover a {text-decoration: underline;}
#slideshow .text_slide #ss-ls-tiles.lastslide-tiles li:hover img {border-color: #ffc652;}
/*** END Slideshow Last slide tileset - dark ***/

#disclaimer_fmt p b font { font-size:100%; }
#slideshow_resources #sources_fmt p { line-height:200%; }
.sources_fmt { margin-bottom:5px; }
.clearingDiv { clear: both; }


/* Sponsor specific */
#breadcrumb_ctr {margin: 0px 0px 0px 15px !important; position:relative;}
#breadcrumb_rdr {padding: 0 0 0 1px !important;}
#breadcrumb_ctr .edtrDisclaimer_fmt {position:absolute;top:69px;left:10px;}
.browserIE #breadcrumb_ctr .edtrDisclaimer_fmt {top:66px;}
#breadcrumb_ctr .titleBarRight_fmt {width:425px;text-align:right;position:absolute;top:30px;right:2px;vertical-align: middle;}
.browserIE #breadcrumb_ctr .titleBarRight_fmt {top:27px;}
#breadcrumb_ctr .titleBarRight_fmt a {color:#fff;}
#breadcrumb_ctr .titleBarRight_fmt img {vertical-align: middle;}
#breadcrumb_ctr .icm {display:none;}



/*  =ICM SPONSOR BOX 
------------------------------------------------------- */
#breadcrumb_ctr #slideshow_container #slideshow .icm {
	background: url("../../../consumer_assets/site_images/modules/icm/rightline.gif") repeat-y scroll right top transparent;
	 _height: 1%; /* peekaboo bug fix for IE6 */
	 margin: 10px auto;
	 min-width: 0; /* peekaboo bug fix for IE7 */
	/* position: relative;
}
#breadcrumb_ctr #slideshow_container #slideshow .icm {*/
	position: absolute;
	top: 161px;
	width: 498px;
}
#breadcrumb_ctr #slideshow_container #slideshow .icm_spbox { 
	background-color: #fff;
	background: url("../../../consumer_assets/site_images/modules/icm/leftline.gif") repeat-y scroll left top transparent;
}
#breadcrumb_ctr #slideshow_container #slideshow .icm_spbox img, #slideshow .icm_spbox a img {
	border: none;
}

/* Main content area */
#breadcrumb_ctr #slideshow_container #slideshow .icm_spbox .icm_body { 
	 float: left;
	 /* width: 202px; right rail and 2nd-gen HZ center well (300px) */
	 width: 396px;
}
#mainContent_area #slideshow .icm_spbox .icm_body { /* center well */
	width: 396px;
}

/* Header */
#breadcrumb_ctr #slideshow_container #slideshow .icm_spbox .icm_header {
	background: url("../../../consumer_assets/site_images/modules/icm//topline.gif") repeat-x scroll left top transparent;
}
#breadcrumb_ctr #slideshow_container #slideshow .icm_spbox h3 {
	/*background: url("../../../consumer_assets/site_images/modules/icm/top_left_corner.gif") no-repeat top left;
	background: url("../../../consumer_assets/site_images/modules/icm/top_left_corner_ss.gif") no-repeat top left;*/
	background: url("../../../consumer_assets/site_images/modules/icm/olay_top_left_corner_ss.gif") no-repeat scroll left top transparent;
	color: #c5a647;
	font-size: 135%;
	font-weight: normal;
	line-height: 1.3em;
	margin: 0;
	padding: 8px 10px 8px 16px;
	width: 350px;
}
#breadcrumb_ctr #slideshow_container #slideshow .icm_spbox .icm_header h3 a:link, 
#breadcrumb_ctr #slideshow_container #slideshow .icm_spbox .icm_header h3 a:hover, 
#breadcrumb_ctr #slideshow_container #slideshow .icm_spbox .icm_header h3 a:visited, 
#breadcrumb_ctr #slideshow_container #slideshow .icm_spbox .icm_header h3 a:active {
 	color: #c5a647;
}

/* Paragraph(s), bulleted list, links */
#breadcrumb_ctr #slideshow_container #slideshow .icm_spbox .icm_links_text {
 	padding: 0 0 0 15px;
}
#breadcrumb_ctr #slideshow_container #slideshow .icm_spbox .icm_links_text p {
	 line-height: 1.2em;
	 margin: 0 5% 0 1px;
	 padding: 0 0 8px 0;
}
#breadcrumb_ctr #slideshow_container #slideshow .icm_spbox ul {
	list-style: none outside none;
	margin: 5px 5% 12px 1px;
	padding: 4px 0 0;
}
#breadcrumb_ctr #slideshow_container #slideshow .icm_spbox ul li {
		 background: url("../../../consumer_assets/site_images/miscellaneous/3x3_grey_bullet.gif") no-repeat 0px 7px;
		 font-size: 100%;
		 float: none;
		 height: auto;
		 line-height: 1.2em;
		 list-style: none;
		 margin: 0 0 4px 0;
		 padding: 0 0 0 8px;
		 width: 100%;
}
#breadcrumb_ctr #slideshow_container #slideshow .icm_spbox .action_link {
	 color: #b28809;
	 font-size: 100%;
	 font-weight: bold;
	 _height: 18px; /* mimic min-height for IE6 */
	 margin: 0 0 10px 2px;
	 min-height: 18px;
}
#breadcrumb_ctr #slideshow_container #slideshow .icm_spbox .action_link a {
	 background: url("../../../consumer_assets/site_images/modules/icm/action_arrow.gif") no-repeat center right;
	 line-height: 1.4em;
	 padding: 2px 25px 2px 0;
}
#breadcrumb_ctr #slideshow_container #slideshow .icm_spbox .action_link a:link, 
#breadcrumb_ctr #slideshow_container #slideshow .icm_spbox .action_link a:hover, 
#breadcrumb_ctr #slideshow_container #slideshow .icm_spbox .action_link a:visited, 
#breadcrumb_ctr #slideshow_container #slideshow .icm_spbox .action_link a:active {
	color: #b28809;
}

/* Thumbnail and MLR text */
#breadcrumb_ctr #slideshow_container #slideshow .icm_spbox .icm_more {
	 background: url("../../../consumer_assets/site_images/modules/icm/topline.gif") repeat-x top left;
	 float: right;
	 text-align: right;
	 width: 98px;
}
#breadcrumb_ctr #slideshow_container #slideshow .icm_spbox .mlr {
	 font-size: 0.7em;
	 line-height: 1.2em;
	 padding: 4px 1px 4px 3px;
	 text-align: center;
	 color:#000;
}

#breadcrumb_ctr #slideshow_container #slideshow #sb-3003-ss-01 .icm_spbox .icm_more .mlr {
	 float:right;
	 width: 100%;
}
#breadcrumb_ctr #slideshow_container #slideshow #sb-3003-ss-01 .icm_spbox.with_isi .attribution {
	clear:left;
	float:left;
	width:350px;
}

/* Sponsorship attribution */
#breadcrumb_ctr #slideshow_container #slideshow .icm_spbox .attribution { 
	 clear: both;
	 _height: 1%; /* needed for IE6 */
	 margin: 0 13px;
	 overflow: auto;
	 padding: 0 5px 7px 0; 
}
#breadcrumb_ctr #slideshow_container #slideshow .icm_spbox .sponsored_text {
	 color: #f63;
	 float: left;
	 font-size: 0.85em;
	 font-weight: bold;
	 margin: 0;
	 padding: 8px 6px 4px 3px;
}
#breadcrumb_ctr #slideshow_container #slideshow .icm_spbox .sponsored_text a:link, 
#breadcrumb_ctr #slideshow_container #slideshow .icm_spbox .sponsored_text a:hover, 
#breadcrumb_ctr #slideshow_container #slideshow .icm_spbox .sponsored_text a:visited, 
#breadcrumb_ctr #slideshow_container #slideshow .icm_spbox .sponsored_text a:active {
	color: #f63;
}
#breadcrumb_ctr #slideshow_container #slideshow .icm_spbox img.logo {
	float: left;
	vertical-align: middle;
}

/* Footer (decorative) */
#breadcrumb_ctr #slideshow_container #slideshow .icm_spbox .icm_footer {
 background: transparent url("../../../consumer_assets/site_images/modules/icm/bottomline.gif") repeat-x;
 clear: both;
 height: 8px;
 overflow: hidden; 
}
#breadcrumb_ctr #slideshow_container #slideshow .icm_spbox .icm_footer .rightcorner {
	/*background: url("../../../consumer_assets/site_images/modules/icm/bottom_right_corner.gif") 100% 100% no-repeat;
	background:url("../../../consumer_assets/site_images/modules/icm/bottom_right_corner_ss.gif") no-repeat 100% 100% transparent;*/
	background: url("../../../consumer_assets/site_images/modules/icm/olay_bottom_right_corner_ss.gif") no-repeat scroll 100% 100% transparent;
	float: right;
	font-size: 1%;
	height: 8px;
	width: 8px;
}
#breadcrumb_ctr #slideshow_container #slideshow .icm_spbox .icm_footer .leftcorner {
	background: url("../../../consumer_assets/site_images/modules/icm/olay_bottom_left_corner_ss.gif") no-repeat scroll 0 100% transparent;
/*	background:url("../../../consumer_assets/site_images/modules/icm/bottom_left_corner_ss.gif") no-repeat 0 100% transparent;
	background: url("../../../consumer_assets/site_images/modules/icm/bottom_left_corner.gif") 0 100% no-repeat;*/
	float: left;
	font-size: 1%;
	height: 8px;
	width: 8px;
}

/* Sponsor disclosure popover */ 
#breadcrumb_ctr #slideshow_container #slideshow .icm .disclosure {
	background: none repeat scroll 0 0 #fff;
	 border: 1px solid #000;
	 display: none; /* hidden on page load */
	 left: 0px;
	 margin: 6% 0 0 8%; /* if no content well defined */
	 overflow: auto;
	 padding: 5px 5px 5px 10px;
	 position: absolute;
	 top: 0px;
	 width: 64%; /* if no content well defined */
	 z-index: 97;
}
#mainContent_area #slideshow .icm .disclosure { /* center well */
	 height: 98px;
	 margin: 38px 0 0 62px;
	 width: 311px;
}
#breadcrumb_ctr #slideshow_container #slideshow .icm .disclosure p {
	color: #000 !important;
	font-size: 0.9em;
	line-height: 1.3em;
	margin: 0 5px 0 0;
}
#breadcrumb_ctr #slideshow_container #slideshow .icm .close { /* used for disclosure and popover ISI */
	 background: url("../../../consumer_assets/site_images/modules/icm/close.gif") no-repeat center right;
	 color: #999;
	 display: block;
	 float: right;
	 font-size: 0.8em;
	 margin: 0;
	 padding: 0 14px 0 0;
	 text-align: right;
}
#breadcrumb_ctr #slideshow_container #slideshow .icm .disclosure a.close:link, 
#breadcrumb_ctr #slideshow_container #slideshow .icm .disclosure a.close:visited, 
#breadcrumb_ctr #slideshow_container #slideshow .icm .disclosure a.close:hover, 
#breadcrumb_ctr #slideshow_container #slideshow .icm .disclosure a.close:active {
	color: #999;
}
#breadcrumb_ctr #slideshow_container #slideshow .icm .visible { /* used for disclosure and popover ISI */
	display: block !important;
}


/*  =ICM SPONSOR BOX 
------------------------------------------------------- */


#breadcrumb_ctr #slideshow_container #slideshow .icm_spbox img, #breadcrumb_ctr #slideshow_container #slideshow .icm_spbox a img {
 border: none;
}

/* Main content area */
#breadcrumb_ctr #slideshow_container #slideshow .icm_spbox .icm_body { 
	float: left;
	width: 202px; /* right rail and 2nd-gen HZ center well (300px) */
}
#mainContent_area #breadcrumb_ctr #slideshow_container #slideshow .icm_spbox .icm_body { /* center well */
	width: 396px;
}

/* Sponsor disclosure popover */ 
#mainContent_area #breadcrumb_ctr #slideshow_container #slideshow .icm .disclosure { /* center well */
	height: 98px;
	margin: 38px 0 0 62px;
	width: 311px;
}
/* Scrollable ISI */
#breadcrumb_ctr #slideshow_container #slideshow .icm .isi {
	padding: 4px 14px 8px 13px; 
}
#breadcrumb_ctr #slideshow_container #slideshow .icm .isi .isi_note {
	padding: 0 0 2px 1px;
}
#breadcrumb_ctr #slideshow_container #slideshow .icm .isi .isi_content {
	border: 1px solid #ccc;
	height: 98px;
	overflow: auto;
	padding: 3px 6px;
}
#breadcrumb_ctr #slideshow_container #slideshow .icm .isi .isi_content {
	border: 1px solid #CCCCCC;
	height: 98px;
	overflow: auto;
	padding: 3px 6px;
}
#mainContent_area #breadcrumb_ctr #slideshow_container #slideshow .icm .isi .isi_content { /* center well */
	height: 81px;
}
*+html #breadcrumb_ctr #slideshow_container #slideshow .icm .isi .isi_content { /* IE7 hack to prevent horizontal scrollbar */
	overflow-x: hidden;
}
#breadcrumb_ctr #slideshow_container #slideshow .icm .isi_content h4, #breadcrumb_ctr #slideshow_container #slideshow .icm  #breadcrumb_ctr #slideshow_container #slideshow .isi_content h5 { 
	font-size: 0.9em; 
	line-height: 1.1em;
	margin: 0 0 3px 1px;  
}
#breadcrumb_ctr #slideshow_container #slideshow .icm .isi_content p, #breadcrumb_ctr #slideshow_container #slideshow .icm .isi_content li { 
	color:#000;
	font-size: 0.9em; 
	line-height: 1.2em;
	margin: 0 0 8px 0;
}
#breadcrumb_ctr #slideshow_container #slideshow .icm .isi .isi_links {
 font-size: 0.9em;
 padding: 2px 60px 0 4px;
}
#breadcrumb_ctr #slideshow_container #slideshow .icm .isi .blackbox {
 border: 1px solid #000;
 padding: 3px 5px;
}

/* this style will apply only if an ISI is present */
#breadcrumb_ctr #slideshow_container #slideshow .icm_spbox.with_isi .attribution {
 padding-top: 8px;
}

/* these styles will apply only if using the popover ISI */
#breadcrumb_ctr #slideshow_container #slideshow .icm .isi.popover {
	background: #fff;
	display: none; /* hidden on page load */
	left: 0px;
	margin: 0 8px 0 11px;
	padding: 0; 
	position: absolute;
	top: 62px;
	z-index: 97;
}
#mainContent_area #breadcrumb_ctr #slideshow_container #slideshow .icm .isi.popover { /* center well */
 top: 30px;
}
#breadcrumb_ctr #slideshow_container #slideshow .icm .isi.popover .isi_content { 
	height: 165px;
}
#mainContent_area #breadcrumb_ctr #slideshow_container #slideshow .icm .isi.popover .isi_content { /* center well */
	height: 109px;
}
#breadcrumb_ctr #slideshow_container #slideshow .icm .isi.popover .close {
	float: none;
}

/* OVERRIDES FOR ICM */

#breadcrumb_ctr #slideshow_container #slideshow #sb-1306-ss-01 { top:36px; }



#breadcrumb_ctr #slideshow_container #slideshow_container #slideshow .final_text_slide li {height: 80px !important;}


/****** CSS to display short text ICM ********/

/*  =ICM SPONSOR BOX 
------------------------------------------------------- */
#breadcrumb_ctr #slideshow_container #slideshow .icm_short_text_wrapper {
	background: url("../../../consumer_assets/site_images/modules/icm/rightline.gif") repeat-y top right;
	float: left;
	_height: 1%; /* peekaboo bug fix for IE6 */
	margin: 5px auto;
	*margin-top: -10px; /* IE display fix */
	min-width: 0; /* peekaboo bug fix for IE7 */
	width: 498px;
}
#breadcrumb_ctr #slideshow_container #slideshow .full_icm {
	top:12px !important;
}
#breadcrumb_ctr #slideshow_container #slideshow .icm_short_text { 
	background-color: #fff;
	background: url("../../../consumer_assets/site_images/modules/icm/top_right_corner_ss.gif") no-repeat top right;
}
#breadcrumb_ctr #slideshow_container #slideshow .icm_short_text img, #breadcrumb_ctr #slideshow_container #slideshow .icm_short_text a img {
	border: none;
}

/* Main content area */
#breadcrumb_ctr #slideshow_container #slideshow .icm_short_text .icm_body { 
	float: left;
	/* width: 202px; right rail and 2nd-gen HZ center well (300px) */
	width: 396px;
}
#breadcrumb_ctr #slideshow_container #slideshow .icm_short_text_wrapper .content {
    border-top: 1px solid #CCCCCC;
    margin: 0 0 0 123px;
    padding: 9px 0 0 10px;
}
#breadcrumb_ctr #slideshow_container #slideshow .icm_short_text_wrapper .inner {
    background: url("../../../consumer_assets/site_images/modules/icm/leftline.gif") repeat-y scroll left top transparent;
    overflow: hidden;
    padding: 0 9px 0 0;
}

/* Header */
#breadcrumb_ctr #slideshow_container #slideshow .icm_short_text .icm_header {
 background: url("../../../consumer_assets/site_images/modules/icm//topline.gif") repeat-x top left;
}
#breadcrumb_ctr #slideshow_container #slideshow .icm_short_text h3 {
	color: #c5a647;
	font-size: 1.05em;
	font-weight:bold;
	line-height: 1.3em;
	margin: 0 0 2px;
	width: 350px;
}
#breadcrumb_ctr #slideshow_container #slideshow .icm_short_text .icm_header h3 a:link, 
#breadcrumb_ctr #slideshow_container #slideshow .icm_short_text .icm_header h3 a:hover, 
#breadcrumb_ctr #slideshow_container #slideshow .icm_short_text .icm_header h3 a:visited, 
#breadcrumb_ctr #slideshow_container #slideshow .icm_short_text .icm_header h3 a:active {
	color: #c5a647;
}

/* Paragraph(s), bulleted list, links */
#breadcrumb_ctr #slideshow_container #slideshow .icm_short_text .icm_links_text {
	padding: 0 0 0 15px;
}
#breadcrumb_ctr #slideshow_container #slideshow .icm_short_text .icm_links_text p {
	 line-height: 1.2em;
	 margin: 0 5% 0 1px;
	 padding: 0 0 8px 0;
}
#breadcrumb_ctr #slideshow_container #slideshow .icm_short_text_wrapper p.body_text {
    color:#000;
    font-size: 0.9em;
    line-height: 1.2em;
    margin: 0 0 2px;
}
#breadcrumb_ctr #slideshow_container #slideshow .icm_short_text ul {
	 list-style: none;
	 margin: 0 5% 12px 1px;
	 padding: 4px 0 0 0;
}
#breadcrumb_ctr #slideshow_container #slideshow .icm_short_text ul li {
	 background: url("../../../consumer_assets/site_images/miscellaneous/3x3_grey_bullet.gif") no-repeat 0px 7px;
	 color:#000;
	 float:none;
	 font-size: 100%;
	 height:auto;
	 line-height: 1.2em;
	 list-style: none;
	 margin: 0 0 4px 0;
	 padding: 0 0 0 8px;
	 width:100%;
}
.icm_short_text_wrapper p.action_link {
    font-size: 0.9em;
    line-height: 1.2em;
    margin: 0 0 1px;
}

/* Thumbnail and MLR text */
#breadcrumb_ctr #slideshow_container #slideshow .icm_short_text .thumb {
	 background: url("../../../consumer_assets/site_images/modules/icm/topline.gif") repeat-x top left;
	 float: left;
	 width: 123px;
}
#breadcrumb_ctr #slideshow_container #slideshow .icm_short_text .mlr {
	color:#000; 
	font-size: 0.7em;
	line-height: 1.2em;
	padding: 1px 2px;
	text-align: center;
}

/* Sponsorship attribution */
#breadcrumb_ctr #slideshow_container #slideshow .icm_short_text .attribution { 
	 clear: both;
	 _height: 1%; /* needed for IE6 */
	 margin: 0 13px;
	 overflow: auto;
	 padding: 0 5px 7px 0; 
}
#breadcrumb_ctr #slideshow_container #slideshow .icm_short_text_wrapper p.sponsored_text {
    color: #FF6633;
    font-size: 0.85em;
    font-weight: bold;
    margin: 0 0 4px;
    text-align: right;
}
#breadcrumb_ctr #slideshow_container #slideshow .icm_short_text .sponsored_text a:link, 
#breadcrumb_ctr #slideshow_container #slideshow .icm_short_text .sponsored_text a:hover, 
#breadcrumb_ctr #slideshow_container #slideshow .icm_short_text .sponsored_text a:visited, 
#breadcrumb_ctr #slideshow_container #slideshow .icm_short_text .sponsored_text a:active {
	color: #f63;
}
#breadcrumb_ctr #slideshow_container #slideshow .icm_short_text_wrapper .logo_container {
    clear: both;
    padding: 0 4px 0 0;
    text-align: right;
}

/* Footer (decorative) */
#breadcrumb_ctr #slideshow_container #slideshow .icm_short_text .icm_footer {
	 background: transparent url("../../../consumer_assets/site_images/modules/icm/bottomline.gif") repeat-x;
	 clear: both;
	 height: 8px;
	 overflow: hidden; 
}
#breadcrumb_ctr #slideshow_container #slideshow .icm_short_text .icm_footer .rightcorner {
	background:url("../../../consumer_assets/site_images/modules/icm/bottom_right_corner_ss.gif") no-repeat 100% 100% transparent;
/*	 background: url("../../../consumer_assets/site_images/modules/icm/bottom_right_corner.gif") 100% 100% no-repeat; */
	 float: right;
	 font-size: 1%;
	 height: 8px;
	 width: 8px;
}
#breadcrumb_ctr #slideshow_container #slideshow .icm_short_text .icm_footer .leftcorner {
	background:url("../../../consumer_assets/site_images/modules/icm/bottom_left_corner_ss.gif") no-repeat 0 100% transparent;
/*	 background: url("../../../consumer_assets/site_images/modules/icm/bottom_left_corner.gif") 0 100% no-repeat; */
	 float: left;
	 font-size: 1%;
	 height: 8px;
	 width: 8px;
}
/* Sponsor disclosure popover */ 
#breadcrumb_ctr #slideshow_container #slideshow .icm_short_text_wrapper .disclosure {
	 display: none; /* hidden on page load */
	 background: #fff;
	 border: 1px solid #000;
	 height: 98px;
/* 	 margin: 6% 0 0 8%; if no content well defined */
	 margin: 38px 0 0 62px;
	 overflow: auto;
	 padding: 5px 5px 5px 10px;
	 position: absolute;
	 top: 0px;
	 left: 0px;
	/*  width: 64%; if no content well defined */
	 width: 311px;
	 z-index: 97;
}
#breadcrumb_ctr #slideshow_container #slideshow .icm_short_text_wrapper .disclosure h4 {
 color: #f63;
 font-size: 0.85em;
 font-weight: bold;
 margin: 0;
 padding: 0 6px 4px 0;
}
#breadcrumb_ctr #slideshow_container #slideshow .icm_short_text_wrapper .disclosure p {
 font-size: 0.9em;
 line-height: 1.3em;
 margin: 0 5px 0 0;
}
#breadcrumb_ctr #slideshow_container #slideshow .icm_short_text_wrapper .close { /* used for disclosure and popover ISI */
 background: url("../../../consumer_assets/site_images/modules/icm/close.gif") no-repeat center right;
 color: #999;
 display: block;
 float: right;
 font-size: 0.8em;
 margin: 0;
 padding: 0 14px 0 0;
 text-align: right;
}
#breadcrumb_ctr #slideshow_container #slideshow .icm_short_text_wrapper .disclosure a.close:link, 
#breadcrumb_ctr #slideshow_container #slideshow .icm_short_text_wrapper .disclosure a.close:visited, 
#breadcrumb_ctr #slideshow_container #slideshow .icm_short_text_wrapper .disclosure a.close:hover, 
#breadcrumb_ctr #slideshow_container #slideshow .icm_short_text_wrapper .disclosure a.close:active {
	color: #999;
}
#breadcrumb_ctr #slideshow_container #slideshow .icm_short_text_wrapper .visible { /* used for disclosure and popover ISI */
	display: block !important;
}

/* Scrollable ISI */
#breadcrumb_ctr #slideshow_container #slideshow .icm_short_text_wrapper .isi {
	padding: 5px 5px 0 12px; 
}
#breadcrumb_ctr #slideshow_container #slideshow .icm_short_text_wrapper .isi .isi_note {
	color:#000;
	padding: 0 1px 3px;
}
#breadcrumb_ctr #slideshow_container #slideshow .icm_short_text_wrapper .isi .isi_content {
 border: 1px solid #ccc;
 color:#000;
 height: 81px;
 overflow: auto;
 padding: 3px 6px;
}
*+html #breadcrumb_ctr #slideshow_container #slideshow .icm_short_text_wrapper .isi .isi_content { /* IE7 hack to prevent horizontal scrollbar */
 overflow-x: hidden;
}
#breadcrumb_ctr #slideshow_container #slideshow .icm_short_text_wrapper .isi_content h4, #breadcrumb_ctr #slideshow_container #slideshow .icm_short_text_wrapper  #breadcrumb_ctr #slideshow_container #slideshow .isi_content h5 { 
 font-size: 0.9em; 
 line-height: 1.1em;
 margin: 0 0 3px 1px;  
}
#breadcrumb_ctr #slideshow_container #slideshow .icm_short_text_wrapper .isi_content p, #breadcrumb_ctr #slideshow_container #slideshow .icm_short_text_wrapper .isi_content li { 
 color: #000;
 font-size: 0.9em; 
 line-height: 1.2em;
 margin: 0 0 8px 0;
}
#breadcrumb_ctr #slideshow_container #slideshow .icm_short_text_wrapper .isi .isi_links {
 font-size: 0.9em;
 padding: 2px 60px 0 4px;
}
#breadcrumb_ctr #slideshow_container #slideshow .icm_short_text_wrapper .isi .blackbox {
 border: 1px solid #000;
 padding: 3px 5px;
}

/* this style will apply only if an ISI is present */
#breadcrumb_ctr #slideshow_container #slideshow .icm_short_text.with_isi .attribution {
 padding-top: 8px;
}

/* these styles will apply only if using the popover ISI */
#breadcrumb_ctr #slideshow_container #slideshow .icm_short_text_wrapper .isi.popover {
	 background: #fff;
	 display: none; /* hidden on page load */
	 left: 0px;
	 margin: 0 8px 0 11px;
	 padding: 0; 
	 position: absolute;
	 top: 62px;
	 z-index: 97;
}
#breadcrumb_ctr #slideshow_container #slideshow .icm_short_text_wrapper .isi.popover {
	top: 30px;
}
#breadcrumb_ctr #slideshow_container #slideshow .icm_short_text_wrapper .isi.popover .isi_content { /* center well */
 height: 109px;
}
#breadcrumb_ctr #slideshow_container #slideshow .icm_short_text_wrapper .isi.popover .close {
 float: none;
}

#breadcrumb_ctr #slideshow_container #slideshow .icm_short_text_wrapper .disclosure p, #breadcrumb_ctr #slideshow_container #slideshow .icm_wrapper .isi_text { color: #000 !important; }

/* START Slideshow Header Styles */
#titleBar_ctr {
	display:none;
	float:left;	
	left: 0px;
	margin: 0 0 3px 0;
	position:relative;
	padding: 0px;
	top:0px;
}
.share_bar {
	margin: 3px 0 4px 874px;
}
/* END Slideshow Header Styles */

/* Newsletter Styles */
#slideshow .newsletterThurii_rdr {
	background: url('../../../consumer_assets/site_images/modules/newsletter_module_slideshow_bg.jpg') 0 0 no-repeat;
	color: #fff;
	display: none;
	height: 72px;
	padding: 8px 0 0 10px;
	right: 0px;
	top: 145px;
	position: absolute;
	width: 297px;
	border:none;
	margin:0;
}
#slideshow .newsletterThurii_rdr h4 {
	font-size: 110%;
	margin: 0;
	text-indent: 0;
}
#slideshow .newsletterThurii_rdr p {
	font-size: 90%;
	margin: 0 0 3px 0;
	padding: 0;
	position: static;
	display:block;
}
#slideshow .newsletterThurii_rdr input, #slideshow .newsletterThurii_rdr form {
	margin: 0;
	padding: 0;
	position: static;
}
#slideshow .newsletterThurii_rdr .newsletterEmail {
	height: 15px;
	margin-left: 23px;
	width: 145px;
	background-color:#fff;
}
#slideshow .newsletterThurii_rdr .newsletterSubmit {
	background: transparent url("../../../consumer_assets/site_images/modules/topictv_submit_btn.gif") no-repeat center top;
	border: 0;
	cursor: pointer;
	height:22px;
	margin: 0;
	padding: 0;
	text-indent: -1000em;
	width:67px;
	vertical-align: middle;
}
.browserIE_7 #slideshow .newsletterThurii_rdr input {
	margin-right:5px
}

/*** Tablet Notification***/
#slide_notification {
	background: url("http://css.webmd.com/dtmcms/live/webmd/consumer_assets/site_images/modules/slideshow_dynamic/ss-swipe-notification.png") no-repeat 0 0;
	height:135px;
	left:10%;
	position:absolute;
	top:150px;
	width:435px;
}
#slide_notification.disabled {
	display:none;
}
#slide_notification .close {
	background: url("http://css.webmd.com/dtmcms/live/webmd/consumer_assets/site_images/modules/slideshow_dynamic/ss-swipe-notification-close.png") no-repeat scroll 0 0 transparent;
	display:block;
	height:36px;
	left:405px;
	position:relative;
	top:-3px;
	width:36px;
}
/*** /Tablet Notifications ***/

#advertorial_rdr {
	clear:both;
	color:#666666;
	font-size:135%;
	margin:0;
}
.titlebar .tb_main {
	float:left;
	margin: 6px 0 0;
	padding:0;
}
.titlebar h1 {
	color:#88A906;
	font-size: 178%;
	font-weight: normal;
	margin: 0;
}
.titlebar h1 a:link, .titlebar h1 a:visited, .titlebar h1 a:hover, .titlebar h1 a:active, .titlebar h1 a:focus, .titlebar h2 a:link, .titlebar h2 a:visited, .titlebar h2 a:hover, .titlebar h2 a:active, .titlebar h2 a:focus, #mainContentContainer_area #mainContent_ThirdCol_ctr .titlebar h1 a:link, #mainContentContainer_area #mainContent_ThirdCol_ctr .titlebar h1 a:visited, #mainContentContainer_area #mainContent_ThirdCol_ctr .titlebar h1 a:hover, #mainContentContainer_area #mainContent_ThirdCol_ctr .titlebar h1 a:active, #mainContentContainer_area #mainContent_ThirdCol_ctr .titlebar h1 a:focus, #mainContentContainer_area #mainContent_ThirdCol_ctr .titlebar h2 a:link, #mainContentContainer_area #mainContent_ThirdCol_ctr .titlebar h2 a:visited, #mainContentContainer_area #mainContent_ThirdCol_ctr .titlebar h2 a:hover, #mainContentContainer_area #mainContent_ThirdCol_ctr .titlebar h2 a:active, #mainContentContainer_area #mainContent_ThirdCol_ctr .titlebar h2 a:focus {
	color:#88A906;
	margin: 0;
}
.titlebar {
	clear: both;
	margin: 0 0 0 5px;
	overflow: auto;
	padding: 0;
}
.titlebar .tb_attr {
	border: 1px solid #CCCCCC;
	border-radius: 6px 6px 6px 6px;
	float: right;
	margin: 3px 4px 0 0;
	min-height: 35px;
	padding: 9px 17px 14px 10px;
	width: 217px;
}
.titlebar .tb_attr .tb_attr_text {
	float: left;
	font-size: 90%;
	vertical-align: middle;
}
.titlebar .tb_attr img {
	border: medium none;
	float: right;
	margin: 8px 0 4px 0;
}
.ed_disclaimer {
	background:transparent none repeat scroll 0 0;
	clear:both;
	font-size: 90%;
	margin:11px 0 0;
	padding-bottom:4px;
}
#slideshow_container #slideshow .final_text_slide li {
	background: none;
	border: none;
	color: #414141;
}
#slideshow_container #slideshow .final_text_slide li .content a {
	background:none;
	color: #0B679A;
	display: block;
	line-height: 1.05em;
	padding-left: 0;
	text-decoration: none;
}
.browserIE #slideshow_container #slideshow .final_text_slide li, .browserFF_3 #slideshow_container #slideshow .final_text_slide li {
	background: none;
	margin: 0 1% 15px 0;
}
#slideshow_container #slideshow .final_text_slide h3 {
	color: #88A906;
}
#slideshow_container #slideshow .final_text_slide p {
	color: #000000;
}
#slideshow_container #slideshow .final_text_slide p.action_link {
 font-size: 0.9em;
}

