#mag_app_landing_top {
	background: url(../../../consumer_assets/site_images/miscellaneous/mag_app_landing/bgMagApp-top.png) no-repeat top left;
	height: 4px;
	width: 967px;
	clear: both; }

.pain-app {
	// background: url(../../../consumer_assets/site_images/miscellaneous/mag_app_landing/bgMagApp-bdy.png) repeat-x top left;
	padding: 0 40px 10px 40px;
	width: 887px;
	.leftcol {
		float: left;
		width: 490px;
		clear:left ; }
	.rightcol {
		float: left;
		width: 330px;
		margin: 0 0 0 40px; }
	h1 {
		color: #a23089;
		font-weight: normal;
		font-size: 380%;
		text-align: center;
		margin: 0;
		padding: 20px 0 10px 0; }
	h2 {
		font-size: 150%;
		text-align: center;
		margin: 0 0 20px 0;
		padding: 0 0 20px 0;
		border-bottom: 1px solid #ccc; }
	h3 {
		font-size: 120%;
		margin: 0;
		padding: 0 0 20px 0; }
	p {
		margin: 0;
		padding: 0 0 15px 0; }
	.actionBtns {
		margin: 0 0 20px 0;
		.AppStore {
			float: left; }
		.Download {
			float: right;
			padding: 3px 0 0 0; } }
	.features {
		padding: 0;
		margin: 0;
		li {
			position: relative;
			padding: 0 0 15px 45px;
			min-height: 25px;
			list-style: none; }
		p {
			padding: 0;
			margin: 0; }
		.icon {
			background: url(http://img.webmd.com/dtmcms/live/webmd/consumer_assets/site_images/miscellaneous/mag_app_landing/sprite-bullets.png) no-repeat;
			position: absolute;
			left: 0;
			top: 0;
			width: 33px;
			height: 33px; }
		.two .icon {
			background-position: 0 -33px; }
		.three .icon {
			background-position: 0 -66px; }
		.four .icon {
			background-position: 0 -99px; } }
	.bottom_link {
		text-align: center; }
	.clr {
		height: 0;
		clear: both; } }

#mag_app_footer {
	position: relative;
	width: 980px;
	left: -7px;
	.divider {
		position: relative;
		border-bottom: 2px solid #ccc;
		margin: 0 0 2px 0;
		height: 0; }
	.cross-promo {
		background: url(http://img.webmd.com/dtmcms/live/webmd/consumer_assets/site_images/miscellaneous/mag_app_landing/bgMagApp-ftr.png) repeat-x top left;
		height: 50px;
		a {
			display: block;
			text-align: right;
			padding: 20px 50px 0 0;
			font-weight: bold;
			font-size: 120%;
			span {
				height: 0;
				display: inline-block;
				border-bottom: 5px solid transparent;
				border-left: 5px solid #006699;
				border-top: 5px solid transparent;
				margin: 0px 0 0 5px; } } } }

/* Slideshow */

.pain-app {
	.slideshow {
		position: relative;
		background: url(../images/painapp-iphone-bg.png) 0 0 no-repeat;
		width: 254px;
		height: 520px;
		margin: 0 60px 20px 60px;
		padding: 0 0 0 0; }
	.slidebox {
		position: absolute;
		left: 20px;
		top: 87px;
		width: 266px;
		height: 362px; }
	.slideshow {
		.btn {
			display: block;
			position: absolute;
			top: 44%;
			background: url(http://img.webmd.com/dtmcms/live/webmd/consumer_assets/site_images/miscellaneous/mag_app_landing/sprite-ss_btn.png) no-repeat bottom left;
			// background: url(../../../consumer_assets/site_images/miscellaneous/mag_app_landing/sprite-ss_btn.png) no-repeat bottom left;
			width: 52px;
			height: 52px;
			&.prev {
				left: -60px; }
			&.next {
				background-position: top left;
				right: -60px; } }
		.indicator {
			position: absolute;
			bottom: 0;
			left: 58px;
			padding: 0;
			margin: 0;
			li {
				float: left;
				background: url(http://img.webmd.com/dtmcms/live/webmd/consumer_assets/site_images/miscellaneous/mag_app_landing/sprite-ss_indicator.png) no-repeat top left;
				width: 9px;
				height: 8px;
				list-style: none;
				margin: 0 0 0 10px;
				&.on {
					background-position: bottom left; } } } }
	.free-dl {
		display: block;
		background: url(http://img.webmd.com/dtmcms/live/webmd/consumer_assets/site_images/miscellaneous/mag_app_landing/btnDownload.png) no-repeat top left;
		width: 179px;
		height: 40px; } }
