
#special-report {

	background-image: linear-gradient(bottom, rgb(200,235,237) 0%, rgb(255,255,255) 85%);
	background-image: -o-linear-gradient(bottom, rgb(200,235,237) 0%, rgb(255,255,255) 85%);
	background-image: -moz-linear-gradient(bottom, rgb(200,235,237) 0%, rgb(255,255,255) 85%);
	background-image: -webkit-linear-gradient(bottom, rgb(200,235,237) 0%, rgb(255,255,255) 85%);
	background-image: -ms-linear-gradient(bottom, rgb(200,235,237) 0%, rgb(255,255,255) 85%);

	background-image: -webkit-gradient(
		linear,
		left bottom,
		left 30%,
		color-stop(0, rgb(200,235,237)),
		color-stop(0.85, rgb(255,255,255))
	);

	ul.supreme-nav{
		list-style-type:none;
	}
}